<html>
  <body>
    test
    <form action="/upload" method="post" enctype='multipart/form-data'>
      <input type="file" name="opml_file">
      <button type="submit">Send your message</button>
    </form>
  </body>
</html>
