<html>
  <head>
    <script id="data" type='text/javascript'>
      <%= data %>
    </script>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <script type='text/javascript'>
      document.addEventListener('DOMContentLoaded', function () {
        console.log("peww");
        var data = JSON.parse(document.getElementById("data").textContent);
        data.forEach(function(podcast) {
          var link = document.createElement("a");
          link.href = podcast.url;

          var img = document.createElement('img');
          img.src = podcast.image_url;
          img.width = 140;
          img.height = 140;

          link.appendChild(img);
          link.appendChild(document.createElement("br"));
          link.appendChild(document.createTextNode(podcast.title));

          var entry = document.createElement('div');
          entry.style.width = "140px";
          entry.style.padding = "10px";
          entry.appendChild(link);
          document.getElementById("list").appendChild(entry);
        }
        );
      });
    </script>
    <style type="text/css">
      html, body {
        font-family: 'Open Sans', sans-serif;
      }
      #list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
      }
    </style>
  </head>
  <body>
    <h1>Your Podcasts</h1>
    <div id="list">
    </div>
  </body>
</html>
